<form action="/login" method="post">

    <h2>Log in as admin</h2>

    <label for="password">Password: </label>

    <input type="password" name="password">

    <input type="submit">

</form>

<h3><%= loginText %></h3>